<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<!--Heading-->
<h1>About Us</h1>
<!--Jumbotron-->
<div class="jumbotron">
	<h1>Read more about ARK Websites</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
		rerum enim doloremque, ipsum eos laboriosam dolores dicta aliquam quia
		et adipisci nisi non ad odit. Nesciunt iusto pariatur reprehenderit quibusdam?</p>
</div>
<div class="row">
	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img src="https://i.imgur.com/1VLncbx.png" alt="...">
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Repudiandae pariatur rem inventore eaque dolore quasi quae quia
				aliquid corrupti, dolores in aperiam mollitia? Enim similique
				veniam adipisci consequuntur corporis illo?</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img src="https://i.imgur.com/1VLncbx.png" alt="...">
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Repudiandae pariatur rem inventore eaque dolore quasi quae quia
				aliquid corrupti, dolores in aperiam mollitia? Enim similique
				veniam adipisci consequuntur corporis illo?</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img src="https://i.imgur.com/1VLncbx.png" alt="...">
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Repudiandae pariatur rem inventore eaque dolore quasi quae quia
				aliquid corrupti, dolores in aperiam mollitia? Enim similique
				veniam adipisci consequuntur corporis illo?</p>
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a href="#" class="thumbnail">
			<img src="https://i.imgur.com/1VLncbx.png" alt="...">
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Repudiandae pariatur rem inventore eaque dolore quasi quae quia
				aliquid corrupti, dolores in aperiam mollitia? Enim similique
				veniam adipisci consequuntur corporis illo?</p>
		</a>
	</div>
</div>
{% endblock %}