<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="row row-flex">
{% for website in websites %}

<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel-body">
        <div class="website" style="background-image: url)'{{ MEDIA_URL }}{{ website.image }}')"></div>

        <h3>{{ website.name }}</h3>
        <p class="website-description">{{ website.description }}</p>
        <p>£{{ website.price }}</p>

        <form method="POST" action="{% url 'add_to_cart' website.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" value="1">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
